################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HashCode/bin/Debug
/HashCode/obj/Debug
/HashCode.Client/bin/Debug
/HashCode.Client/obj/Debug
/HashCode.Tests/bin/Debug
/HashCode.Tests/obj/Debug
